 <!DOCTYPE html> 
<html lang="en"> 
<link rel="stylesheet" href="public/css/imagePostStruct.css">
<head> 
<title>Image Post Page</title> 
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
</head> 
    <center>
<div class="container"> 
<h1 class="page-title">&nbsp; <small></small> </h1> 
<div class="row"> <div class="col-lg-12"> <div class="card"> 
<div class="card-body"> <div class="table-responsive"> 
<div class="table-responsive"> <table class="table info-table-bordered"> 
<thead class="thead-info"> 
<tr> <th colspan="2">Image Details</th> </tr> 
</thead> 
<tbody> 
<tr> 
<th id="postTitle">Post Title </th> 
<td id="titleName">Name of Title</td> </tr> 
<tr> <th id="postAuthor">Author Name</th> 
<td id="authorName">Name of Author</td> 
</tr> 
<tr> <th id="postTime">Post creation time</th> 
<td id ="dateTime">DD-MM-YYYY</td> </tr> <tr> <th id="postImage">Post image </th> 
<td><img src="https://www.w3schools.com/images/lamp.jpg" alt="Lamp" width="32" height="32"></td> </tr> </tbody> </table> 
</div> 
</div> 
</div> 
</div> 
</div> 
</div> 
</div> 
</center>
</html>